<main role="main">

  <br>
      <div *ngIf="showRecipe" class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                  <div class="card">

                    <div class="card-header text-center">
                      <h2>{{recipe.title}}</h2>
                    </div>

                    <div class="card-body">

                      <div class="row text-center">
                        <div class="col-md-12">
                          <h4><span [ngClass]="{'badge-success': recipe.producer === 'Hello Fresh' || recipe.producer === 'Home Chef',
                                                'badge-hf': recipe.producer === 'Hello Fresh',
                                                'badge-hc': recipe.producer === 'Home Chef',
                                                'badge-primary': recipe.producer === 'Blue Apron'}" class="badge badge-pill">{{recipe.producer}}</span></h4>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-4">
                          <img src="{{recipe.imgDir}}">
                        </div>
                        <div class="col-md-5">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4>Ingredients</h4>
                            </div>
                            <div class="card-body text-center">
                              <p class="ing-text" *ngFor="let ingredient of recipe.ingredients | ingredients">
                                {{ingredient}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4>Nutritional Info</h4>
                            </div>
                            <div class="card-body">
                              <p><span class="float-left">Calories: </span> <span class="float-right">{{recipe.nutritionValues.calories}}</span></p><br *ngIf="recipe.producer !== 'Blue Apron'">
                              <p *ngIf="recipe.nutritionValues.fat"><span class="float-left">Fat: </span><span class="float-right">{{recipe.nutritionValues.fat}}g</span><br></p>
                              <p *ngIf="recipe.nutritionValues.saturatedFat">
                                <span class="float-left">Saturated Fat: </span><span class="float-right">{{recipe.nutritionValues.saturatedFat}}g</span><br>
                              </p>
                              <p *ngIf="recipe.nutritionValues.carbohydrate"><span class="float-left">Carbs: </span> <span class="float-right">{{recipe.nutritionValues.carbohydrate}}g</span><br></p>
                              <p *ngIf="recipe.nutritionValues.sugar"><span class="float-left">Sugar: </span> <span class="float-right">{{recipe.nutritionValues.sugar}}g</span><br></p>
                              <p *ngIf="recipe.nutritionValues.fiber"><span class="float-left">Fiber: </span> <span class="float-right">{{recipe.nutritionValues.fiber}}g</span><br></p>
                              <p *ngIf="recipe.nutritionValues.protein"><span class="float-left">Protein: </span> <span class="float-right">{{recipe.nutritionValues.protein}}g</span><br></p>
                              <p *ngIf="recipe.nutritionValues.cholesterol"><span class="float-left">Cholesterol: </span> <span class="float-right">{{recipe.nutritionValues.cholesterol}}mg</span><br></p>
                              <p *ngIf="recipe.nutritionValues.sodium"><span class="float-left">Sodium: </span> <span class="float-right">{{recipe.nutritionValues.sodium}}mg</span></p>
                            </div>
                            <div *ngIf="recipe.producer === 'Blue Apron'" class="card-footer text-center">
                              <small>You can thank Blue Apron for not providing nutritional information!</small>
                            </div>
                          </div>
                        </div>
                      </div>

                      <hr>
                      <div *ngIf="recipe.producer !== 'Blue Apron'" class="card">
                        <div class="card-header text-center">
                          <h2>{{preCookTitle}}</h2>
                        </div>
                        <div class="card-body text-center">
                          <ul *ngIf="recipe.producer === 'Home Chef'" class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let step of recipe.preCook">{{step}}</li>
                          </ul>
                          <ul style="justify-content: center" *ngIf="recipe.producer === 'Hello Fresh'" class="list-group list-group-horizontal">
                            <li class="list-group-item" *ngFor="let step of recipe.preCook">{{step}}</li>
                          </ul>
                        </div>
                      </div> <br *ngIf="recipe.producer !== 'Blue Apron'">
                      <div class="card">
                        <div class="card-header text-center">
                          <h2>Steps</h2>
                        </div>
                        <div class="card-body">
                        <div *ngFor="let step of recipe.steps; let i = index" class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4><span style="font-style: italic">{{i+1}}: {{step.name}}</span></h4>
                            </div>
                            <div class="card-body">
                              <p>{{step.body}}</p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                        </div>
                      </div>


                      <br>
                      <div class="col-md-12 text-center">
                        <button class="btn btn-outline-primary" type="button" [routerLink]="['/recipes']">Back to all recipes</button>
                      </div>
                      <div *ngIf="userIsAdmin" class="col-md-12 text-center">
                        <br>
                        <button class="btn btn-outline-success" type="button" [routerLink]="['/recipe', this.recipeId, 'edit']">Edit This Recipe</button>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="marketing">
                    <div class="row"  style="text-align: center" >
                      <div class="col-lg-3"></div>
                        <div class="col-lg-6" style="padding-top: 20px">
                          <a class="story-title" href="#"><img src="assets/images/pineapple-poblano-beef-tacos.jpg" style="width:100px;height:100px" class="img-circle"></a>
                          <h3>{{recipe.title}}</h3>
                          <span class="badge badge-primary">{{recipe.producer}} </span>
                          <br>
                          <p>Calories: {{recipe.nutritionValues.calories}}</p>
                        </div>
                        <div class="col-lg-3"></div>
                      </div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>

</main>
