<main role="main">

  <br>
      <div *ngIf="showRecipe" class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                  <div class="card">

                    <div class="card-header text-center">
                      <h2>{{recipe.title}}</h2>
                    </div>

                    <div class="card-body">

                      <div class="row text-center">
                        <div class="col-md-12">
                          <h4><span [ngClass]="{'badge-success': recipe.producer === 'Hello Fresh' || recipe.producer === 'Home Chef',
                            'badge-primary': recipe.producer === 'Blue Apron'}" class="badge badge-pill">{{recipe.producer}}</span></h4>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-4">
                          <img src="{{recipe.imgDir}}">
                        </div>
                        <div class="col-md-5">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4>Ingredients</h4>
                            </div>
                            <div class="card-body text-center">
                              <p class="ing-text" *ngFor="let ingredient of recipe.ingredients | ingredients">
                                {{ingredient}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4>Nutritional Info</h4>
                            </div>
                            <div class="card-body text-center">
                              <p>Calories: {{recipe.nutritionValues.calories}}</p>
                              <p *ngIf="recipe.nutritionValues.fat">Fat: {{recipe.nutritionValues.fat}}</p>
                              <p *ngIf="recipe.nutritionValues.saturatedFat">Saturated Fat: {{recipe.nutritionValues.saturatedFat}}</p>
                              <p *ngIf="recipe.nutritionValues.carbohydrate">Carbs: {{recipe.nutritionValues.carbohydrate}}</p>
                              <p *ngIf="recipe.nutritionValues.sugar">Sugar: {{recipe.nutritionValues.sugar}}</p>
                              <p *ngIf="recipe.nutritionValues.fiber">Fiber: {{recipe.nutritionValues.fiber}}</p>
                              <p *ngIf="recipe.nutritionValues.protein">Protein: {{recipe.nutritionValues.protein}}</p>
                              <p *ngIf="recipe.nutritionValues.cholesterol">Cholesterol: {{recipe.nutritionValues.cholesterol}}</p>
                              <p *ngIf="recipe.nutritionValues.sodium">Sodium: {{recipe.nutritionValues.sodium}}</p>
                            </div>
                            <div *ngIf="recipe.producer === 'Blue Apron'" class="card-footer text-center">
                              <small>You can thank Blue Apron for not providing nutritional information!</small>
                            </div>
                          </div>
                        </div>
                      </div>

                      <hr>
                      <div class="card">
                        <div class="card-header text-center">
                          <h2>Steps</h2>
                        </div>
                        <div class="card-body">
                        <div *ngFor="let step of recipe.steps; let i = index" class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header text-center">
                              <h4><span style="font-style: italic">{{i+1}}: {{step.name}}</span></h4>
                            </div>
                            <div class="card-body">
                              <p>{{step.body}}</p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                        </div>
                      </div>


                      <br>
                      <div class="col-md-12 text-center">
                        <button class="btn btn-outline-primary" type="button" [routerLink]="['/recipes']">Back to all recipes</button>
                      </div>
                      <div *ngIf="userIsAdmin" class="col-md-12 text-center">
                        <br>
                        <button class="btn btn-outline-success" type="button" [routerLink]="['/recipe', this.recipeId, 'edit']">Edit This Recipe</button>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="marketing">
                    <div class="row"  style="text-align: center" >
                      <div class="col-lg-3"></div>
                        <div class="col-lg-6" style="padding-top: 20px">
                          <a class="story-title" href="#"><img src="assets/images/pineapple-poblano-beef-tacos.jpg" style="width:100px;height:100px" class="img-circle"></a>
                          <h3>{{recipe.title}}</h3>
                          <span class="badge badge-primary">{{recipe.producer}} </span>
                          <br>
                          <p>Calories: {{recipe.nutritionValues.calories}}</p>
                        </div>
                        <div class="col-lg-3"></div>
                      </div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>

</main>
