<main role="main">

  <div class="container" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12 text-center">
               <h1>Sign In</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <form>
    <div *ngIf="message" class="alert alert-danger">
      <em>{{message}}</em>
    </div>
    <input style="width: 100%" [(ngModel)]="userInfo.username" type="text" name="username" id="username" placeholder="usename">
    <input style="width: 100%" [(ngModel)]="userInfo.password" type="password" name="password" id="password">
    <br>
    <button (click)="login()">Login</button>
  </form>
</div>
<div class="col-md-4"></div>
</div>
</div>


</main>
